@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foregroundtheme-rgb: 0, 0, 0;
  --primary: #0a93b6;
  --secondary: #BD1E7B;
  --lightgray: rgb(206, 206, 206);
}

body {
  background-color: rgb(var(--foregroundtheme-rgb));
}

.nav-btn:hover{
  background-color: var(--secondary) !important;
}

.gradient-text {
  background: linear-gradient(180deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}