@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foregroundtheme-rgb: 0, 0, 0;
  --primary: #1d4ed8;
  --secondary: #3b82f6;
  --lightgray: rgb(206, 206, 206);
}

body {
  background-color: rgb(var(--foregroundtheme-rgb));
}

.our_story_bg{
  background: radial-gradient(circle, rgba(238,174,202,0.720500700280112) 0%, rgba(10,147,182,1) 100%);

}

.nav-btn:hover{
  background-color: var(--secondary) !important;
}

.gradient-text {
  background: linear-gradient(180deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}




